<div class="mb-3">
  <label for="categoria" class="form-label">Categoría:</label>
  <select id="categoria" name="categoria" class="form-select">
    <option value="trabajoGradoPregrado">TRABAJO DE GRADO DE PREGRADO</option>
    <option value="produccionesIntelectualesDiep"
      >PRODUCCIONES INTELECTUALES DIEP</option
    >
    <option value="publicaciones">PUBLICACIONES</option>
    <option value="diplomadosPregrado">DIPLOMADOS - PREGRADO</option>
    <option value="diplomadosPostgrado">DIPLOMADOS - POSTGRADO</option>
    <option value="diplomadosUnidadesAnexas"
      >DIPLOMADOS - UNIDADES ANEXAS</option
    >
  </select>
</div>
